.header {
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px;
}

.headerLogo__wrapper {
    width: 120px;
    height: calc(100% - 50px);
    margin: 5px 3px;
    box-sizing: border-box;
}

.header__logo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.header__searchInput {
    height: 22px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.header__searchIcon {
    padding: 5px 15px;
    height: 32px !important;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    padding: 5px 10px;
    min-width: 50px;
    color: #fff;
    justify-content: center;
}

.header__optionLineOne {
    font-size: 10px;
    display: block;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 700;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: #fff;
}

.header__basketCount {
    margin: 0 10px;
}

.header__option, .headerLogo__wrapper, .header__optionBasket {
    padding: 5px;
    border: solid 1.5px transparent;
    border-radius: 4px;
}

.header__option:hover, .headerLogo__wrapper:hover, .header__optionBasket:hover {
    border: solid 1.5px #fff;
    cursor: pointer;
}